@use '../tokens/spacing';
@use '../tokens/breakpoints';

.mel-container {
  width: 100%;
  margin: 0 auto;
  padding-inline: spacing.mel-space(4);

  @include breakpoints.mel-break(md) {
    max-width: 720px;
    padding-inline: spacing.mel-space(5);
  }

  @include breakpoints.mel-break(lg) {
    max-width: 1200px;
    padding-inline: spacing.mel-space(6);
  }

  @include breakpoints.mel-break(xl) {
    max-width: 1320px;
    padding-inline: spacing.mel-space(6);
  }
}