{#
/**
 * @file
 * Vendor console footer.
 * Always renders structural markup and SCSS-compatible layout.
 */
#}

<footer class="mel-site-footer mel-site-footer--vendor" role="contentinfo">
  <div class="mel-site-footer__inner mel-container">

    <div class="mel-vendor-footer__row mel-footer-grid">
      <div class="mel-vendor-footer__left mel-footer-col">
        {{ page.vendor_footer_left }}
      </div>

      <div class="mel-vendor-footer__right mel-footer-col">
        {{ page.vendor_footer_right }}
      </div>
    </div>

    <div class="mel-vendor-footer__legal">
      {{ page.vendor_footer_legal }}
    </div>

  </div>
</footer>
