{#
/**
 * @file
 * Vendor console header.
 * Always renders structural markup and preserves SCSS layout contract.
 */
#}

<header class="mel-site-header mel-site-header--vendor" role="banner">
  <div class="mel-site-header__inner mel-header-inner mel-container">

    <div class="mel-vendor-header__left mel-header__left">
      {{ page.vendor_header_left }}
    </div>

    <div class="mel-vendor-header__center mel-header__center">
      {{ page.vendor_header_center }}
    </div>

    <div class="mel-vendor-header__right mel-header__right">
      {{ page.vendor_header_right }}
    </div>

  </div>
</header>
