{#
/**
 * @file
 * Suffix markup for wizard step forms (closes card, shell, + layout).
 *
 * Variables:
 * - step_id: Current step id (e.g. 'basics') when sections were opened in prefix.
 */
#}
            {% if step_id == 'basics' %}
          </div>
            {% endif %}
        </div>
      </div>
      </div>
        </div>
      </div>
    </div>
  </div>
</div>
