<h2>You're going!</h2>

<p>Thanks for your RSVP to <strong>{{ event.label }}</strong>.</p>

<p>Date: {{ event.field_event_start.value|date("j M Y, g:ia") }}</p>

<p>We've attached an ICS calendar file so you don't forget!</p>

<p>See you there 🌈✨</p>