<div class="mel-rsvp-thankyou">
  <h1>You're all set!</h1>

  <p>Thanks for RSVPing to <strong>{{ event.label }}</strong>.</p>

  <p>
    <a href="{{ event.toUrl().toString() }}" class="btn btn-primary">
      Back to event page
    </a>
  </p>
</div>