wallet-buttons.html.twig<div class="mel-wallet-buttons">
  <a class="wallet-apple" href="{{ apple_url }}">Add to Apple Wallet</a>
  <a class="wallet-google" href="{{ google_url }}">Add to Google Wallet</a>
</div>