{#
/**
 * @file
 * Calendar page template.
 *
 * Policy:
 * - No inline script/style tags.
 * - No CDN JS/CSS in Twig.
 *
 * Calendar UI should be provided by placed blocks/views and theme assets.
 */
#}

{% extends "page.html.twig" %}

{% block content %}
  <div class="mel-container">
    {% include '@myeventlane_theme/components/mel-page-header.html.twig' with {
      title: 'Events calendar'|t,
      show_search: false,
      show_categories: false
    } only %}

    <div class="mel-content mel-content--calendar">
      {{ page.content }}
    </div>
  </div>
{% endblock %}