{#
  The wizard is built server side in EventFormAlter.php.
  This template only provides a clean wrapper.
#}

{{ attach_library('myeventlane_event/event_wizard') }}

<div class="mel-event-form">
  {{ form }}
</div>
